.form-edit-data {
    width: 75%;
    margin: auto;
    border-radius:10px;
    border: 4px solid coral;
    padding:10px;
}
.form-edit-data input:focus{
    background-image:linear-gradient(bisque, white);
    font-weight:bolder;
    box-shadow:10px 10px;
}


@media(max-width:991px){
    .form-edit-data{
        width:100%;
        border-radius:none;
    }
}