.home-div {
    width:100%;
    min-height:400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.home-div h1 {
    transition:2s;
    border-bottom:10px solid brown;
    font-size:100px;

}
@media(max-width:991px){
    .home-div h1 {
        font-size:40px;
    }
}